@media screen and (max-width: 1300px) {
	.container{
		max-width: 960px;
	}
	.main_text {
		margin: 348px 0px 30px;
	}
	.card_img{
		height: 320px;
	}
	.card_txt{
		margin-top: 10px;
	}
	.btn{
		margin: 55px 325px;
	}
	.sec_tit{
		margin: 90px 150px 35px;
	}
	.in_shop{
		width: 365px;
		height: 490px;
		margin: 35px;
	}
	.shop_img{
		height: 490px;
	}
	.in_shop_frame{
		width: 855px;
		height: 525px;
	}
	.rev{
		width: 880px;
	}
	.rev_tit{
		margin: 2px 0;
	}
	.search_info{
		margin: 85px 215px;
	}
	.link_ic{
		margin: 40px 0;
	}
	.link_desc{
		margin: 45px 1px;
	}
}
@media screen and (max-width: 990px) {
	.main_text {
		margin: 340px 0px 30px;
	}
	nav{
		display: none;
	}
	.container{
		max-width: 750px;
	}
	.card{
		height: 330px;
	}
	.card_img{
		height: 225px;
	}
	.card_txt{
		margin-top: 5px;
	}
	.btn{
		width: 270px;
		margin: 40px 225px;
	}
	.analog_sec{
		margin: 160px 0;
	}
	.analog_txt{
		font-size: 30px;
	}
	.btn_analog{
		height: 50px;
	}
	.journals_in{
		width: 270px;
		height: 315px;
		padding: 35px 32px 85px 60px;
	}
	.journals_img{
		width: 390px
	}
	.journals_txt{
		font-size: 30px;
		padding-top: 5px;
		padding-bottom: 5px;
		line-height: 40px;
	}
	.sec_tit{
		margin: 60px 10px 20px;
	}
	.in_shop{
		width: 285px;
		height: 360px;
	}
	.shop_img{
		height: 380px;
	}
	.in_shop_frame{
		width: 650px;
		height: 380px;
	}
	.rev{
		width: 660px;
	}
	.rev_tit{
		font-size: 30px;
	}
	.search_info {
		margin: 85px 150px;
	}
	.links_info {
		width: 210px;
	}
}
@media screen and (max-width: 780px) {
	.container{
		max-width: 510px;
	}
	.main_text {
		margin: 195px 0px 25px;
	}
	.card{
		height: 260px;
	}
	.card_img{
		height: 140px;
	}
	.btn{
		width: 200px;
		margin: 20px 140px;
		font-size: 15px;
		height: 50px;
	}
	.btn_analog {
        height: 45px;
		font-size: 15px;
    }
	.analog_sec{
		line-height: 45px;
		margin: 100px 0;
	}
	.analog_txt{
		font-size: 27px;
	}
	.journals_txt{
		font-size: 21px;
		line-height: 28px;
	}
	.journals {
		padding: 60px 100px;
	}
	.journals_tit {
		font-size: 13px;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.journals_in {
        width: 213px;
        height: 263px;
        padding: 35px 32px 44px 35px;
    }
	.journals_img {
        width: 267px;
    }
	.sec_tit {
        margin: 30px 0px 10px;
		font-size: 23px;
		font-weight: 500;
    }
	.in_shop {
        width: 170px;
        height: 210px;
    }
	.in_shop_frame {
        width: 410px;
        height: 245px;
    }
	.shop_img {
        height: 240px;
    }
	.rev_tit {
        font-size: 20px;
		line-height: 40px;
    }
	.rev {
        width: 500px;
		height: 0;
		margin: 100px 20px 190px;
    }
	.search_txt {
		font-size: 25px;
		margin: 3px 50px 20px;
	}
	.search_tit {
		font-size: 14px;
		line-height: 23px;
	}
	.search_in {
		height: 35px;
		max-width: 300px;
		margin: 33px 60px;
	}
	.search_info {
        margin: 40px 50px 0;
		height: 250px;
		justify-content: center;
    }
	.links_in {
		line-height: 25px;
	}
	.link_ic {
		margin: 20px 0px 20px 100px;
    }
	.link_desc {
        margin: 25px 92px;
    }
	.links_info {
        width: 180px;
    }
}
@media screen and (max-width: 540px) {
	.container{
		max-width: 420px;
	}
	.card {
        height: 282px;
    }
	.head_right {
    width: 137px;
	}
	.btn {
        width: 170px;
        margin: 20px 120px;
        font-size: 13px;
        height: 45px;
    }
	.analog_txt {
        font-size: 24px;
    }
}
@media screen and (max-width: 450px) {
	.container{
		max-width: 100%;
	}
}